@import "tailwindcss";
@import 'flowbite';

@tailwind utilities;

@layer base {
    /* Apply gray-900 text color to most common text elements */
    p,
    h1, h2, h3, h4, h5, h6,
    li,
    a,
    span,
    div {
        @apply text-gray-900;
    }

    h1 {
        @apply text-3xl md:text-4xl font-bold;
    }

    h2 {
        @apply text-2xl font-semibold; /* Add if you want */
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-semibold; /* Optional */
    }

    h5 {
        @apply text-xl;
    }

    /* button.dark stays as you have it */
    button.dark {
        @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer w-auto;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oxanium", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    @apply w-full p-2 border border-gray-300 rounded-md mb-4;
}

.wpcf7 input[type="submit"] {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer w-full sm:w-auto;
}


/* For your specific form */
form.signup-intro-form.wpcf7-not-valid input[type="text"],
form.signup-intro-form.wpcf7-not-valid input[type="email"],
form.signup-intro-form.wpcf7-not-valid input[type="number"] {
 margin-bottom: 0;
}

form.signup-intro-form input[type="text"],
form.signup-intro-form input[type="email"],
form.signup-intro-form input[type="number"] {
  @apply w-full p-3 mb-4 rounded-md border-2;
  background-color: rgba(141, 183, 225, 0.45);
  border-color: #8DB7E1;
}

/* Submit button */
form.signup-intro-form input[type="submit"] {
  @apply w-full text-black font-medium rounded-md text-sm px-5 py-2.5 cursor-pointer w-auto;
  background-color: #8DB7E1;
}

/* Optional: hover effect */
form.signup-intro-form input[type="submit"]:hover {
  background-color: #8DB7E1;
}
form.signup-intro-form.wpcf7-response-output {
  margin: 0;
}

form.signup-intro-form .wpcf7-response-output {
  margin: 0;
}
form.signup-intro-form .wpcf7-spinner {
    display: none;
}

