@import "tailwindcss";
@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
    }

    h5 {
        @apply text-xl;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fefff6;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* equivalent to Tailwind's gap-8 */
}

