@import "tailwindcss";
@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content: center;
}
